@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body .wrapper {
  width: 100%;
  background: var(--bg1, linear-gradient(102deg, #2C2C2C 1.56%, #1C1C1C 95.55%));
}
body .wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 150px;
}
body .wrapper header menu {
  width: 710px;
}
body .wrapper header menu ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .wrapper header menu ul .active::after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  height: 1px;
  background: linear-gradient(87deg, #E2A300 4.47%, #E29500 95.53%);
}
body .wrapper header menu ul li {
  list-style: none;
}
body .wrapper header menu ul li a {
  text-decoration: none;
  color: var(--text, #E4E4E4);
}
body .wrapper .wrapper__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
}
body .wrapper .wrapper__section .wrapper__section-data {
  flex-shrink: 10;
  width: 450px;
}
body .wrapper .wrapper__section .wrapper__section-data h1 {
  color: var(--text, #E4E4E4);
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 27px;
}
body .wrapper .wrapper__section .wrapper__section-data .wrapper__section-bio {
  color: var(--text, #E4E4E4);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}
body .wrapper .wrapper__section .wrapper__section-data .contact-me {
  width: 200px;
  height: 47px;
  border: 0;
  color: var(--text, #E4E4E4);
  border-radius: 6px;
  background: var(--orange, linear-gradient(87deg, #E2A300 4.47%, #E29500 95.53%));
  box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
}
body .wrapper .wrapper__section .wrapper__section-card {
  position: relative;
  width: 575px;
  height: 575px;
  overflow: hidden;
  border-radius: 50%;
  border: 45px solid var(--blu, #00C4F0);
  box-shadow: 20px 20px 152px 20px rgba(0, 196, 240, 0.42);
  margin-bottom: 100px;
}
body main {
  width: 100%;
  background-color: #2D2D2D;
  padding: 100px 0 0 0;
}
body main .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 130px;
}
body main .skill .skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 260px;
  height: 200px;
  border-radius: 29px;
  background: #2A2A2A;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.47);
}
body main .skill .skill__item i {
  font-size: 60px;
  color: #00C4F0;
}
body main .skill .skill__item .skill__item-title {
  color: var(--text, #E4E4E4);
  font-size: 24px;
}
body main .about {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
  padding-bottom: 160px;
}
body main .about .about-me {
  position: relative;
  z-index: 999;
  width: 496px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 1px 1px 20px 1px #00C4F0;
  background: #2C2C2C;
  margin: 0 auto;
}
body main .about .about-me .about-title {
  position: absolute;
  top: -40px;
  color: var(--text, #E4E4E4);
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}
body main .about .about-me .info-item {
  color: #E4E4E4;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.2px;
}
body main .about .about-shape1 {
  position: absolute;
  top: 60px;
  right: 400px;
  width: 792px;
  height: 792px;
  border-radius: 50%;
  border: 89px solid var(--text, #E4E4E4);
  box-shadow: 0px 4px 70px 0px rgba(255, 255, 255, 0.25);
}
body main .about .about-shape2 {
  position: absolute;
  top: 600px;
  right: 100px;
  width: 486px;
  height: 486px;
  border-radius: 50%;
  border: 55px solid var(--blu, #00C4F0);
  box-shadow: 0px 4px 70px 0px rgba(0, 193, 236, 0.25);
}
body main .about .about-shape3 {
  position: absolute;
  position: absolute;
  top: -100px;
  right: 150px;
  width: 356px;
  height: 356px;
  border-radius: 50%;
  border: 34px solid #E2A200;
  box-shadow: 0px 4px 70px 0px rgba(226, 162, 0, 0.25);
}
body main .portfolio {
  width: 100%;
  padding: 50px 0;
  background-color: #1C1C1C;
}
body main .portfolio .p-title {
  text-align: center;
  color: #E4E4E4;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}
body main .portfolio .portfolio__section {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
body main .portfolio .portfolio__section .slider-btn {
  width: 40px;
  height: 40px;
  background-color: #00c4f0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
body main .portfolio .portfolio__section .slider-btn i {
  color: #eee;
  font-size: 20px;
}
body main .portfolio .portfolio__section .portfolio__section-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 970px;
  height: 600px;
  border-radius: 29px;
  background: var(--Gray2, linear-gradient(131deg, #414141 0%, #2D2D2D 100.52%));
  box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.28);
  padding: 13px;
}
body main .portfolio .portfolio__section .portfolio__section-item .p-img {
  width: 510px;
  height: 510px;
  border-radius: 20px;
}
body main .portfolio .portfolio__section .portfolio__section-item .d-block {
  width: 300px;
}
body main .portfolio .portfolio__section .portfolio__section-item .d-block .d-title, body main .portfolio .portfolio__section .portfolio__section-item .d-block .d-main {
  text-align: center;
  color: #e4e4e4;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}
body main .portfolio .portfolio__section .portfolio__section-item .d-block .d-main {
  font-size: 16px;
}
body footer {
  width: 100%;
  background-color: #212425;
  padding: 20px;
}
body footer .footer-item {
  width: 400px;
  margin: 0 auto;
}
body footer .footer-item .contact, body footer .footer-item .creted {
  color: grey;
  margin: 0 auto;
  margin-bottom: 7px;
}
body footer .footer-item .contact i, body footer .footer-item .creted i {
  color: grey;
}/*# sourceMappingURL=style.css.map */